.mouse-cursor-gradient-tracking {
    position: relative;


    cursor: pointer;
    outline: none;
    overflow: hidden;
  }
  
  .mouse-cursor-gradient-tracking span {
    position: relative;
    pointer-events: none;
  }
  
  .mouse-cursor-gradient-tracking::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, rgba(235, 94, 40, 0.5), transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
    pointer-events: none; /* Prevents this element from blocking mouse events */

  }
  
  .mouse-cursor-gradient-tracking:hover::before {
    --size: 200px;
  }
  